@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --detalhe-color: #00ADB5;
    --destaque-color: #00FFF5;
    --font-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.container {
    background-color: var(--primary-color);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}
.grid {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-height: 95vh;
    min-width: 500px;
    overflow:scroll;

    margin: 25px 25px 0 25px; 
    width: 40vw;
    height: 95vh;

    gap: 10px;
    row-gap: 10px;
}

.grid::-webkit-scrollbar {
    width: 0px;
}

.grid::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    /* Ajuste a cor da barra de rolagem ao passar o mouse */
}

.objeto {
    background-repeat: no-repeat;
    background-size: cover;

    width: 200px;
    height: 200px;

    border-radius: 30px;
    background-color: var(--secondary-color);
}

.objeto:hover {
    /* transform: scale(110%);

    transition: 300ms;
    box-shadow: black 0px 1px 30px 1px; */
    cursor: pointer;
}

.card {
    width: 50vw;
    min-width: 500px;
    height: 95vh;
    min-height: 80vh;
    margin: 25px 25px 0 25px;

    border-radius: 30px 30px 0 0;

    background: linear-gradient(0, var(--primary-color), var(--secondary-color), var(--secondary-color), var(--secondary-color));
    background-image: url('./resorce/file.png');
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    position: relative;
}

.promocao {
    position: absolute;
    top: 0;
    right:0 ;

    background-color: var(--secondary-color);
    width: 100px;
    height: 25px;

    padding: 10px;
    margin: 20px;

    border-radius: 20px;
    font-size: 2em;
    color: var(--font-color);
    text-align: start;
    text-justify: center;
}


.produto {
    
    position: absolute;
    top: 150px;
    right: 50px;
    
    width: 300px;
    height: 50vh;
    font-size: 5em;
    font-weight: bold;
    line-height: 1em;
    /* transform: scaleX(90%); */
    color: var(--font-color);
    text-shadow: #000 0.1em 0.1em 0.2em;
    
    display: flex;
    text-justify: bottom;
    text-align: end;

}
.modelo{
    width: 100%;
    height: 100%;
}

.valor {
    position: absolute;
    bottom: 15vh;
    right: 50px;

    width: 150px;
    height: 100px;
    font-size: 3em;
    color: var(--detalhe-color);
    text-shadow: #000 0.1em 0.1em 0.2em;

}

.valor>.desconto {
    position: absolute;
    top: 0px;
    left: -70px;
    font-size: 0.5em;
    text-decoration: line-through double;
}
.opt-modelo{
    position: absolute;
    bottom: 10vh;
    right: 100px;
    gap: 20px;
    display: flex;
}
.tamanho {
    display: flex;
    justify-content:space-around;
    width: 100px;
    height: 30px;
    padding: 5px 10px;

    color: black;

    gap: 10px;

    font-size: 2em;

    background-color: white;
    border-radius: 10px;
    border: none;
}

.color-list {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.cor {
    cursor: pointer;
    width: 20px;
    height: 20px;

    border: 1.5px solid white;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

/* @media screen and (max-width: 600px) {
    .row {
        flex-wrap: wrap-reverse;
    }

    .card {
        min-width: 90vw;
    }
} */
#roupa {
    width: auto;
    height: 100%;
}
.marca{
    position: fixed;
    top: 20px;
    left: 25px;

}